@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;900&display=swap');
* {
  margin: 0;
  font-family: "Roboto+Slab";
  color: #333;
}
.container {
  display: flex; /* or inline-flex */
  text-align: left;
  max-width: 300px;
}
.create {
  max-width: 200px;
  margin: 3 auto;
}
.create label {
  text-align: left;
  font-size: 20px;
  margin: 3 auto;
  margin-bottom: 1px;
  margin-top: 10px;
  color: #f1356d;
  display: block;
}

.create button {
  background: #f1356d ;
  color: cornsilk;
  border: 5px;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create select {
  width: 191px
}

.create input {
  width: 191px
}